@import '../../../global-styles/index';

.r-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: lighter;
    &.active {
        background-color: $accent;
        color: white;
        cursor: pointer;
    }
    &.active:hover {
        background-color: $accent-dark;
    }
}