@import '../../../global-styles/index';
.r-plus-btn {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        .r-plus-svg {
            fill: $accent-dark;
        }
    }
    &.active {
        .r-plus-svg {
            fill: $accent;
        }
    }
    &.disabled {
        .r-plus-svg {
            fill: $grey;
        }
    }
    &.focused {
        .r-plus-svg {
            fill: $grey;
        }
    }
}