<div class="r-recent-item">
    <div class="r-recent-item__top-bar">
        <div class="r-recent-item__top-bar__title">
            Fritata With Shputzini Sauce
        </div>
        <div (click)="onClosed(); $event.stopPropagation();" class="r-recent-item__top-bar__close">
            <r-close-btn></r-close-btn>
        </div>
    </div>
    <div class="r-recent-item__contents">
        <div class="r-recent-item__photo">
            <img src="/assets/food.png">
        </div>
    </div>
</div>