<r-section>
    <r-section-content>
        <r-section-header (backClicked)="goBack()">
            Profile Settings
        </r-section-header>
        <r-section-body>
            <div class="r-profile-settings">
                <div class="r-profile-settings__section edit-photo">

                </div>
                <div class="r-profile-settings__section username">

                </div>

                <div class="r-profile-settings__section calorage">

                </div>
            </div>
        </r-section-body>
    </r-section-content>
</r-section>