@import '../../../global-styles/variables.scss';

.r-section-tabs {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__item {
        width: 34%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.active {
            background-color: $grey;
        }
    }
}

.r-count-label {
    min-width: 11px;
    padding: 0 3px;
    height: 21px;
    font-size: 13px;
    background-color: #FB8A05;
    color: white;
    position: relative;
    right: -3px;
    top: -8px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}