<div class="r-section-tabs">
    <div class="r-section-tabs__item first" routerLink="/dishes" routerLinkActive="active">
        Рецепти
    </div>
    <div class="r-section-tabs__item" routerLink="/calendar" routerLinkActive="active">
        Календар
    </div>
    <div class="r-section-tabs__item last" routerLink="/shopping" routerLinkActive="active">
        Купити <span *ngIf="hasUncompletedShoppings$ | async" class="r-count-label">{{ notCompletedShoppingCount$ | async }}</span>
    </div>
</div>
