<div class="r-round-fill-indicator">
    <div class="r-round-fill-indicator__content">
        <ng-content></ng-content>
    </div>
    
    <div class="r-round-fill-indicator__circle h9"></div>
    <div class="r-round-fill-indicator__circle h11"></div>
    <div class="r-round-fill-indicator__circle h12"></div>
    <div class="r-round-fill-indicator__circle h1"></div>
    <div class="r-round-fill-indicator__circle h3"></div>
    <div class="r-round-fill-indicator__circle h4"></div>
    <div class="r-round-fill-indicator__circle h6"></div>
    <div class="r-round-fill-indicator__circle h7"></div>
    <!-- Orange -->
    <div class="r-round-fill-indicator__circle-orange h9" *ngIf="filled[0]"></div>
    <div class="r-round-fill-indicator__circle-orange h11" *ngIf="filled[1]"></div>
    <div class="r-round-fill-indicator__circle-orange h12" *ngIf="filled[2]"></div>
    <div class="r-round-fill-indicator__circle-orange h1" *ngIf="filled[3]"></div>
    <div class="r-round-fill-indicator__circle-orange h3" *ngIf="filled[4]"></div>
    <div class="r-round-fill-indicator__circle-orange h4" *ngIf="filled[5]"></div>
    <div class="r-round-fill-indicator__circle-orange h6" *ngIf="filled[6]"></div>
    <div class="r-round-fill-indicator__circle-orange h7" *ngIf="filled[7]"></div>
</div>

