
  @import '../../../global-styles/index';

  $offset: 3px;
  $accent: $accent;
  $grey: #E2DFDF;
  $size: 40px;
  $ctg30: 1.732;
    $center-offset: calc((0.5 * (#{$size})) / (#{$ctg30}));
    $half-low: calc(50% - 0.5 * (#{$offset}));
    $half-high: calc(50% + 0.5 * (#{$offset}));

    $one-third-low: calc(50% - (1 * (#{$center-offset})) - 0.6 * (#{$offset}));
    $one-third-high: calc(50% - (1 * (#{$center-offset})) + 0.6 * (#{$offset}));
    $two-third-low: calc(50% + (1 * (#{$center-offset})) - 0.6 * (#{$offset}));
    $two-third-high: calc(50% + (1 * (#{$center-offset})) + 0.6 * (#{$offset}));

    $zero-low: calc(0% - 0.5 * (#{$offset}));
    $zero-low: calc(0% + 0.5 * (#{$offset}));

    $full-low: calc(100% - 0.5 * (#{$offset}));
    $full-high: calc(100% + 0.5 * (#{$offset}));
  
.r-round-fill-indicator {
    width: $size;
    height: $size;
    // border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    &__circle {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 4px solid $grey;
        border-radius: 50%;
        position: absolute;
        box-sizing: border-box;
        z-index: 0;
        top: 1px;
        left: 1px;
        &.h9 {
            opacity: 1;
            clip-path: polygon(0% $half-low, 50% 50%, $one-third-low  0%, 0% 0%);
        }
        &.h11 {
            opacity: 0.90;
            clip-path: polygon($one-third-high 0%, 50% 50%, $two-third-low 0%);
        }
        &.h1 {
            opacity: 0.80;
            clip-path: polygon($two-third-high 0%, 50% 50%, 100% $half-low, 100% 0%);
        }
        &.h3 {
            opacity: 0.70;
            clip-path: polygon(100% $half-high, 50% 50%, $two-third-high 100%, 100% 100%);
        }
        &.h5 {
            opacity: 0.60;
            clip-path: polygon($two-third-low 100%, 50% 50%, $one-third-high 100%);
        }
        &.h7 {
            opacity: 0.50;
            clip-path: polygon($one-third-low 100%, 50% 50%, 0% $half-high, 0% 100%);
        }
    }

    &__circle-orange {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 4px solid orange;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        top: 1px;
        left: 1px;
        clip-path: circle(0% at center);
        transition: clip-path 1s;
        box-sizing: border-box;
    
        &.h9 {
            opacity: 1;
            clip-path: polygon(0% $half-low, 50% 50%, $one-third-low  0%, 0% 0%);
        }
        &.h11 {
            opacity: 0.90;
            clip-path: polygon($one-third-high 0%, 50% 50%, $two-third-low 0%);
        }
        &.h1 {
            opacity: 0.80;
            clip-path: polygon($two-third-high 0%, 50% 50%, 100% $half-low, 100% 0%);
        }
        &.h3 {
            opacity: 0.70;
            clip-path: polygon(100% $half-high, 50% 50%, $two-third-high 100%, 100% 100%);
        }
        &.h5 {
            opacity: 0.60;
            clip-path: polygon($two-third-low 100%, 50% 50%, $one-third-high 100%);
        }
        &.h7 {
            opacity: 0.50;
            clip-path: polygon($one-third-low 100%, 50% 50%, 0% $half-high, 0% 100%);
        }      
    }

    &__content {
        position: relative;
        left: 1px;
        top: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__quarter {
        width: 20px;
        height: 20px;
        border: 1px solid white;
        position: relative;
        z-index: 3;
    }

    &__eight {
        $pad: -15px;
        width: 28.3px;
        height: 28.3px;
        border: 1px solid white;
        position: absolute;
        z-index: 3;
        left: -5px;
        top: -5px;
        transform: rotate(-45deg);
        &.top {
            top: -15px;
            left: 6px;
        }
        &.right {
            left: 5px;
            top: 6px;
        }
        &.bottom {
            left: -16px;
            top: 5px;
        }
        &.left {
            left: -15px;
            top: -16px;
        }
        // &.reverse {
        //     transform: rotate(-45deg);
        // }
        // &.forward {
        //     transform: rotate(45deg);
        // }
        // &.left {
        //     left: $pad
        // }
        // &.top {
        //     top: $pad
        // }
        // &.right {
        //     right: $pad
        // }
        // &.bottom {
        //     bottom: $pad
        // }
        
    }
}