@import '../../../../global-styles/index';

.r-content {
    min-width: $min-card-width;
    max-width: $max-card-width;
    width: 70%;
    &.mobile {
        width: 100%;
    }
}

.r-content-wrap {
    width: calc(100vw - 2 * #{$padding-side-mobile});
    display: flex;
    justify-content: center;
}