<div class="r-dish-details__wrap">
  <div class="r-dish-details">
    <div class="r-dish-details__title">
        Fritata With Shputzini Sauce <div class="r-dish-details__add-to-fav-btn">
        <r-heart-btn
          [checked]="addedToFav"
          (click)="onAddedToFav()"
        ></r-heart-btn>
      </div>
      <r-calendar-icon (click)="onAddToCalendar()"></r-calendar-icon>
    </div>
    <div class="r-dish-details__tags"></div>
    <div class="r-dish-details__photos">
      <div class="r-dish-details__photo">
        <img src="/assets/food.png" />
      </div>
      <div class="r-dish-details__photo">
        <img src="/assets/food2.png" />
      </div>
    </div>
    <div class="r-dish-details__ingredients">
      <div class="r-dish-details__ingredients__title">
        You'll need:
      </div>
      <div class="r-dish-details__ingredients__items">
        <div class="r-dish-details__ingredients__item">
          <div class="r-dish-details__ingredients__item__bullet"></div>
          <div class="r-dish-details__ingredients__item__description">
            10 mg of flour
          </div>
          <div class="r-dish-details__ingredients__item__add-to-calendar">
            <r-plus-btn (click)="onAddToShoppingList(1)" [focused]="isAdded(1)"></r-plus-btn>
          </div>
        </div>
        <div class="r-dish-details__ingredients__item">
          <div class="r-dish-details__ingredients__item__bullet"></div>
          <div class="r-dish-details__ingredients__item__description">
            2 eggs
          </div>
          <div class="r-dish-details__ingredients__item__add-to-calendar">
            <r-plus-btn (click)="onAddToShoppingList(2)" [focused]="isAdded(2)"></r-plus-btn>
          </div>
        </div>
        <div class="r-dish-details__ingredients__item">
          <div class="r-dish-details__ingredients__item__bullet"></div>
          <div class="r-dish-details__ingredients__item__description">
            145 ml of olive oil
          </div>
          <div class="r-dish-details__ingredients__item__add-to-calendar">
            <r-plus-btn (click)="onAddToShoppingList(3)" [focused]="isAdded(3)"></r-plus-btn>
          </div>
        </div>
        <div class="r-dish-details__ingredients__item">
          <div class="r-dish-details__ingredients__item__bullet"></div>
          <div class="r-dish-details__ingredients__item__description">
            8 tomatoes
          </div>
          <div class="r-dish-details__ingredients__item__add-to-calendar">
            <r-plus-btn (click)="onAddToShoppingList(4)" [focused]="isAdded(4)"></r-plus-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="r-dish-details__description">
      Stock up on canned tomatoes and canned beans, canned tuna and salmon for
      tuna cakes and pastas. Cans of broth for stews and chilies. And don't
      forget the cream of mushroom soup; in a pinch, it can turn just about
      anything else you have into a meal.
    </div>
    <div class="r-dish-details__steps">
      <div class="r-dish-details__step">
        <div class="r-dish-details__step__number">
          1
        </div>
        <div class="r-dish-details__step__description">
          Stock up on canned tomatoes and canned beans, canned tuna and salmon
          for tuna cakes and pastas.
        </div>
      </div>
      <div class="r-dish-details__step">
        <div class="r-dish-details__step__number">
          2
        </div>
        <div class="r-dish-details__step__description">
          Boil the eggs. Cans of broth for stews and chilies. And
          don't forget the cream of mushroom soup;
        </div>
      </div>
      <div class="r-dish-details__step">
        <div class="r-dish-details__step__number">
          3
        </div>
        <div class="r-dish-details__step__description">
          Prepare the shputzini sauce.  In a pinch, it can turn just
          about anything else you have into a meal.
        </div>
      </div>
      <div class="r-dish-details__step">
        <div class="r-dish-details__step__number">
          4
        </div>
        <div class="r-dish-details__step__description">
          You're good to go!
        </div>
      </div>
    </div>
    <div class="r-dish-details__cta">
      <div class="r-dish-details__add-to-fav-btn">
        <r-heart-btn
          [checked]="addedToFav"
          (click)="onAddedToFav()"
        ></r-heart-btn>
      </div>
      <r-calendar-icon (click)="onAddToCalendar()"></r-calendar-icon>
      <!-- <div class="r-dish-details__cta__btn">
        <r-button>
          Add to calendar...
        </r-button>
      </div> -->
    </div>
  </div>
</div>
