<div class="r-arrow {{ orientation }}">
  <svg
    width="13"
    height="24"
    viewBox="0 0 13 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      y1="-1"
      x2="16.1468"
      y2="-1"
      transform="matrix(0.674471 0.738302 -0.674471 0.738302 0.109497 12.0786)"
      stroke="black"
      stroke-width="2"
    />
    <line
      y1="-1"
      x2="16.1468"
      y2="-1"
      transform="matrix(-0.674471 0.738302 -0.674471 -0.738302 10.8906 0)"
      stroke="black"
      stroke-width="2"
    />
  </svg>
</div>
