.r-dish-list-root {
    &__list {
        &-item {
            margin-bottom: 25px;
        }
    }

    &__search-input {
        width: 70%;
        &-wrap {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
        }
    }
}