
<r-section>
    <r-section-left *ngIf="!(isMobile$ | async)">
        <r-side-bar>
            <r-checkbox-select>
                <r-checkbox-select-item *ngFor="let filter of filters" [value]="filter">
                    {{ filter }}
                </r-checkbox-select-item>
            </r-checkbox-select>
        </r-side-bar>
    </r-section-left>
    <r-section-content>
        <div class="r-dish-list-root__search-input-wrap">
            <div class="r-dish-list-root__search-input">
                <r-search-input></r-search-input>
            </div>
        </div>
        <div class="r-dish-list-root__list">
            <div *ngFor="let item of [0, 1, 2, 3, 4, 5, 6]" class="r-dish-list-root__list-item">
                <r-dish-card></r-dish-card>
            </div>
        </div>
    </r-section-content>
    <r-section-bottom *ngIf="isMobile$ | async">
        <r-recent-list (opened)="onOpenedFromRecentList()"></r-recent-list>
        <r-filter-bar>
            <r-filter-item *ngFor="let filter of filters"
                        [value]="filter"
                >
                {{filter}}
            </r-filter-item>
        </r-filter-bar>
    </r-section-bottom>
</r-section>
