$accent: #FB8A05;
$accent-dark: rgb(185, 100, 2);
$grey: #C4C4C4;
$grey-light: rgb(231, 231, 231);
$grey-dark: rgb(124, 124, 124);

$padding-side-mobile: 25px;
$padding-top-mobile: 30px;
$max-card-width: 700px;
$min-card-width: 440px;
