@import '../../../global-styles/index';

.r-checkbox-select-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    &__label {
        font-size: 14px;
        color: #6F6B6B;
        &.selected {
            font-weight: 600;
        }
    }
    &__checkbox {
        margin-right: 5px;
    }
}

.r-checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid #9E9E9E;
    &.selected {
        background-color: $accent;
    }
}